<div  class="container-fluid">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-4 offset-md-4">
      <div id="login">
        <h2>New User</h2>
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>
